.App {
  text-align: center;
}

.App table {
  margin: 0 auto;
}

.App th {
  font-weight: bold;
  padding: 4%;
}
.App input {
  font-size: 20px;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px 10px;
  

}
.App button {
  padding: 1%;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1%;
}